{% extends "base.html" %}
{% block content %}
    
    <div class="signup">
    <div class="container">
      <div class="row row-centered">

        <div class="signup-form col-centered col-xs-12">
        {% if not user %}
        <img class="steps-img" src="{{ url_for('static', filename='img/step3.png') }}">
          <h1>Step 3: Add a User</h1>
          <form role="form" name="kform" action="{{ url_for('.add_user') }}" method="post" onsubmit="return validateForm()">
          <p>
            <label>
              Client ID
              {% if request.form.client_id %}
              <input class="form-control"size="64" type="text" name="client_id" value="{{request.form.client_id}}" readonly>
              {% else %}
              <input class="form-control"size="64" type="text" name="client_id">
              {% endif %}
            </label>
          </p>
          <p>
            <label>
              Secret Key
              {% if request.form.secret_key %}
              <input class="form-control"size="64" type="text" name="secret_key" value="{{request.form.secret_key}}" readonly>
              {% else %}
              <input class="form-control"size="64" type="text" name="secret_key">
              {% endif %}
              
            </label>
          </p>
          <p>
            <label>
              User ID
              <input class="form-control"size="64" type="text" name="user_id">
            </label>
          </p>
          <p>
            <label>
              User Name
              <input class="form-control"size="64" type="text" name="user_name">
            </label>
          </p>
          <p>
            <label>
              User Number (make sure it start with 63, i.e. 63926XXXXXXX)
              <input class="form-control numeric" size="64" type="text" name="user_number">
            </label>
          </p>
          <p class="missing">Please fill in all the fields. It's a demo, man. Help me out.</p>
          <p>
            <button class="btn btn-default btn-primary" type="submit">Add User</button>
          </p>
          </form>
          {% else %}
          <img class="steps-img" src="{{ url_for('static', filename='img/step4.png') }}">
          <h1>Here's a User. Demo Time!</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
              <th>Name</th> 
              <th>Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ user.id }}</td>
              <td>{{ user.name }}</td> 
              <td>{{ user.number }}</td>
              </tr>
            </tbody>
          </table>
          <form role="form" action="{{ url_for('.login') }}" method="post">
            <p>
              <button class="btn btn-default btn-primary" type="submit">Let's Do This!</button>
            </p>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
 function validateForm() {
    var x = document.forms["kform"]["user_id"].value;
    var y = document.forms["kform"]["user_name"].value;
    var z = document.forms["kform"]["user_number"].value;
    if ((x == null || x == "") ||
        (y == null || y == "") ||
        (z == null || z == "")) 
    {
        $('.missing').show();
        return false;
    }
} 
</script>
{% endblock %}
