<!doctype html>
<html>
  <head></head>
  <body>
    <h1>Example</h1>
    {% if not user %}
    <h2>Add user</h2>
    <form action="{{ url_for('.add_user') }}" method="post">
    <p>
      <label>
        Client ID
        <input size="64" type="text" name="client_id">
      </label>
    </p>
    <p>
      <label>
        Secret Key
        <input size="64" type="text" name="secret_key">
      </label>
    </p>
    <p>
      <label>
        User ID
        <input size="64" type="text" name="user_id">
      </label>
    </p>
    <p>
      <label>
        User Name
        <input size="64" type="text" name="user_name">
      </label>
    </p>
    <p>
      <label>
        User Number
        <input size="64" type="text" name="user_number">
      </label>
    </p>
    <p>
      <button type="submit">Add user</button>
    </p>
    </form>
    {% else %}
    <h2>User</h2>
    <ul>
      <li>ID: {{ user.id }}</li>
      <li>Name: {{ user.name }}</li>
      <li>Number: {{ user.number }}</li>
    </ul>
    <form action="{{ url_for('.login') }}" method="post">
      <p>
        <button type="submit">Login</button>
      </p>
    </form>
    {% endif %}
  </body>
</html>
