{% extends "base.html" %}
{% block content %}
<div class="signup">
<h1>Login Successful! Congratulations!</h1>
  <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <br>
          <img class="winnerisyou" src="{{ url_for('static', filename='img/winnerisyou.jpg') }}">
          <br><br>
          <p>We hope you enjoyed this demo as much as we enjoyed making it!</p>
          <a href="{{ url_for('views.index') }}" class="btn btn-primary">There is no place like home</a>
        </div>
      </div>
    </div>
</div>
{% endblock %}
