{% extends "base.html" %}
{% block content %}
<div class="signup">
<div class="container">
<div class="row">
  <img class="steps-img" src="{{ url_for('static', filename='img/step5.png') }}">
  <h1>Check your phone!</h1>
  <hr>
  <div class="col col-md-4 col-md-offset-2">
    <p>The user will be sent the OTP which you'll use to verify the login:</p>
    <pre><code>curl -X POST \
  {{ url_for('api_otp_validate', client_id=app.client_id, user_id='USER_ID', secret_key=app.secret_key, _external=True) }}
  </code></pre>
    <p>You can use the form to try it out.</p>
  </div>
  <div class="col-md-4">
    <form action="" role="form" method="post">
    <div class="form-group">
    <label for="code">One-Time Password</label>
    <input class="numeric form-control" type="text" id="code" class="form-control" name="code">
    </div>
    {% for message in get_flashed_messages() %}
    <p class="login-msg">{{ message }}</p>
    {% endfor %}
    <button type="submit" class="btn btn-default btn-primary">Validate</button>
    </form>
  </div>
</div>
</div>
</div>
{% endblock %}
