<!doctype html>
<html>
  <head></head>
  <body>
    <h1>Kalasag</h1>
    {% if app %}
    <h2>{{ app.name }}</h2>
    <p>
      <label>
        Client ID
        <input size="64" type="text" name="client_id" value="{{ app.client_id }}" readonly>
      </label>
    </p>
    <p>
      <label>
        Secret Key
        <input size="64" type="text" name="secret_key" value="{{ app.secret_key }}" readonly>
      </label>
    </p>
    {% else %}
    <p>
      <a href="{{ url_for('.signup') }}">Signup</a>
    </p>
    {% endif %}
  </body>
</html>
